In [1]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.4.1'
spark_version = 'spark-3.4.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:2 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:3 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:5 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:6 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done

In [2]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [3]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)

In [4]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView('home_sales')

In [5]:
spark.sql("""
select *
from home_sales
limit 5
""").show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+

In [6]:
# 3. What is the average price for a four bedroom house sold in each year rounded to two decimal places?
spark.sql("""
SELECT YEAR(date) AS year, ROUND(AVG(price),2) AS average_price_4_Bedroom_Homes
FROM home_sales
WHERE bedrooms = 4
GROUP BY YEAR(date)
ORDER BY year
""").show()

+----+-----------------------------+
|year|average_price_4_Bedroom_Homes|
+----+-----------------------------+
|2019|                     300263.7|
|2020|                    298353.78|
|2021|                    301819.44|
|2022|                    296363.88|
+----+-----------------------------+

In [7]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?
spark.sql("""
SELECT YEAR(date) AS year, ROUND(AVG(price),2) AS average_price_3_bed_3_bath
FROM home_sales
WHERE bedrooms = 3 AND
bathrooms = 3
GROUP BY YEAR(date)
ORDER BY year
""").show()

+----+--------------------------+
|year|average_price_3_bed_3_bath|
+----+--------------------------+
|2019|                 287287.82|
|2020|                 294204.16|
|2021|                 294211.46|
|2022|                 292725.69|
+----+--------------------------+

In [8]:
# 5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?
spark.sql("""
SELECT YEAR(date) AS year, ROUND(AVG(price),2) AS avg_price_3_bed_3_bath_2_floors_2000sqft
FROM home_sales
WHERE bedrooms = 3 AND
bathrooms = 3 AND
floors = 2 AND
sqft_living >= 2000
GROUP BY YEAR(date)
ORDER BY year
""").show()

+----+----------------------------------------+
|year|avg_price_3_bed_3_bath_2_floors_2000sqft|
+----+----------------------------------------+
|2019|                               289859.14|
|2020|                               292289.09|
|2021|                               296330.96|
|2022|                               290242.99|
+----+----------------------------------------+

In [9]:
# 6. What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than
# or equal to $350,000? Although this is a small dataset, determine the run time for this query.

start_time = time.time()

spark.sql("""
SELECT
  view,
  ROUND(AVG(price), 2) AS AVERAGE_PRICE
FROM home_sales
GROUP BY view
HAVING AVG(price) <= 350000
ORDER BY view DESC
""").show()


print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+
|view|AVERAGE_PRICE|
+----+-------------+
|   9|    282001.65|
|   8|    279099.78|
|   7|    288929.09|
|   6|    284076.65|
|  50|    298926.96|
|   5|    278096.94|
|  49|    294101.62|
|  48|    283862.99|
|  47|    292925.62|
|  46|    287540.99|
|  45|    284578.62|
|  44|    282856.44|
|  43|    282606.92|
|  42|    289225.45|
|  41|    288697.21|
|  40|    290768.72|
|   4|    286307.75|
|  39|    283560.92|
|  38|    287164.62|
|  37|    279286.91|
+----+-------------+
only showing top 20 rows

--- 1.0564472675323486 seconds ---

In [10]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table home_sales")

DataFrame[]

In [11]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [12]:
# 9. Using the cached data, run the query that filters out the view ratings with average price
#  greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

start_time = time.time()

spark.sql("""
SELECT
  view,
  ROUND(AVG(price), 2) AS AVERAGE_PRICE
FROM home_sales
GROUP BY view
HAVING AVG(price) <= 350000
ORDER BY view DESC
""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+
|view|AVERAGE_PRICE|
+----+-------------+
|   9|    282001.65|
|   8|    279099.78|
|   7|    288929.09|
|   6|    284076.65|
|  50|    298926.96|
|   5|    278096.94|
|  49|    294101.62|
|  48|    283862.99|
|  47|    292925.62|
|  46|    287540.99|
|  45|    284578.62|
|  44|    282856.44|
|  43|    282606.92|
|  42|    289225.45|
|  41|    288697.21|
|  40|    290768.72|
|   4|    286307.75|
|  39|    283560.92|
|  38|    287164.62|
|  37|    279286.91|
+----+-------------+
only showing top 20 rows

--- 0.7723076343536377 seconds ---

In [13]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
df.write.partitionBy("date_built").mode("overwrite").parquet("parquet_on_date_built")

In [14]:
# 11. Read the parquet formatted data.
p_df=spark.read.parquet('parquet_on_date_built')

In [15]:
# 12. Create a temporary table for the parquet data.
p_df.createOrReplaceTempView('home_sales_parquet')

In [16]:
# 13. Run the query that filters out the view ratings with average price of greater than or equal to $350,000
# with the parquet DataFrame. Round your average to two decimal places.
# Determine the runtime and compare it to the cached version.

start_time = time.time()

spark.sql("""
SELECT
  view,
  ROUND(AVG(price), 2) AS AVERAGE_PRICE
FROM home_sales_parquet
GROUP BY view
HAVING AVG(price) <= 350000
ORDER BY view DESC
""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+
|view|AVERAGE_PRICE|
+----+-------------+
|   9|    282001.65|
|   8|    279099.78|
|   7|    288929.09|
|   6|    284076.65|
|  50|    298926.96|
|   5|    278096.94|
|  49|    294101.62|
|  48|    283862.99|
|  47|    292925.62|
|  46|    287540.99|
|  45|    284578.62|
|  44|    282856.44|
|  43|    282606.92|
|  42|    289225.45|
|  41|    288697.21|
|  40|    290768.72|
|   4|    286307.75|
|  39|    283560.92|
|  38|    287164.62|
|  37|    279286.91|
+----+-------------+
only showing top 20 rows

--- 0.9825150966644287 seconds ---

In [17]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table home_sales")

DataFrame[]

In [18]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached('home_sales')

False